body 
{
    background-color: #d4d4d4;
    color: black;
}

h1,
h2,
h3 
{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

h3
{
    font-size: 1em;
}

p 
{
    font-family: 'Playfair Display', serif;
}

.news 
{
    background-color: #f0efee;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0px;
}

.newsheader
{
    background-color: #0c1315;
    color: #f0efee;
    border: 2px solid #0c1315;
    border-radius: 0px 0px 6px 6px;
}

.newstext
{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.lien
{
    text-align: center;
}

a 
{
    text-decoration: none;
    color: blue;
}

td 
{
    border: 2px solid black;
    padding: 5px;
}

table 
{
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
}

form 
{
    text-align: center;
}

.header-image 
{
    margin-top: 20px;
    max-width: 100%;
    max-height: 400px;
}

.header
{
    background-color: #0c1315;
    color: black;
    border: 2px solid #0c1315;
    border-radius: 0px 0px 6px 6px;
}

.footer
{
    margin-top: 120px;
    background-color: #0c1315;
    color: black;
    border: 2px solid #0c1315;
    border-radius: 6px 6px 0px 0px;
}

.footer
{
    margin-top: 200px;
    background-color: #0c1315;
    color: black;
    border: 2px solid #0c1315;
    border-radius: 6px 6px 0px 0px;
}


.header-text
{
    color: #f0efee;
    padding: 2px;
}

.footer-text
{
    padding: 2px;
    color: #f0efee;
    text-align: center;
    margin-bottom: 0px;
}

.commentaires
{
    margin-top: 50px;
}

.comform
{
    margin-bottom: 50px;
}

.mainpage
{
    margin-top: 50px;
}

.supporttitle
{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}