body 
{
    background-color: #e5e5e5;
    color: black;
}


/* Header */


.header-image 
{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: 400px;
}

.header
{
    background-color: #0c1315;
    color: black;
    border: 2px solid #0c1315;
}

.header-text
{
    color: #f0efee;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 5px;
    font-size: 2em;
}

.header-box
{
    position: absolute;
    left: 35%;
    top: 10%;
    padding: 10px;
    width: 30%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
}


/* Menu */

.navbar
{
    background-color: #BDCBD2;
    border-radius: 0px 0px 6px 6px;
}

.navbar-light .navbar-nav .nav-link
{
    color: rgba(0,0,0,.8);
}

#menu
{
    padding: 0px;
}


/* Body */


h1,
h2,
h3 
{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

h3
{
    font-size: 1em;
}

.mainpage
{
    margin-top: 50px;
}

.maincenter
{
    margin-top: 50px;
    background-color: #BDCBD2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.supporttitle
{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

p 
{
    font-family: 'Playfair Display', serif;
}

.lien
{
    text-align: center;
}

a
{
    text-decoration: none;
    color: #0000ff;
}

th
{
    border: 2px solid black;
    padding: 10px;
}

td 
{
    border: 2px solid black;
    padding: 5px;
}

table 
{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
}

form 
{
    text-align: center;
}

.login
{
    margin-top: 50px;
    padding-bottom: 10px;
    background-color: rgba(189,203,210, 0.5);
    border-radius: 2px solid rgba(189,203,210, 0.5);
    border-radius: 6px;
}

.dropdown
{
    text-align: center;
}

/* Chapitres */


.newsheader
{
    background-color: #496f84;
    color: #f0efee;
    border: 2px solid #496f84;
    border-radius: 0px 0px 6px 6px;
}

.news 
{
    background-color: #d4d4d4;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0px;
}

.newstext
{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.comform
{
    padding: 5px;
}

.com
{
    margin-top: 50px;
    background-color: rgba(189,203,210,.5);
    border: 2px solid rgba(189,203,210,.5);
    border-radius: 6px;
}

.comment
{
    background-color: #d4d4d4;
    margin-top: 50px;
    margin-bottom: 20px;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
}


/* Footer */


.footer
{
    margin-top: 200px;
    background-color: #0c1315;
    color: black;
    border: 2px solid #0c1315;
    border-radius: 6px 6px 0px 0px;
}

.footer-text
{
    padding: 2px;
    color: #f0efee;
    text-align: center;
    margin-bottom: 0px;
}




/* Petits écrans */

@media all and (min-width: 992px) and (max-width: 1280px) 
{

    .header-image 
    {
        height: 350px;
    }
    
    .header-box
    {
        left: 30%;
        width: 40%;
        padding: 5px;
    }
    
    .header-text
    {
        font-size: 1.8em;
    }
    
}


/* Tablettes */

@media all and (min-width: 768px) and (max-width: 992px) 
{
        
    .header-image 
    {
        height: 300px;
    }
    
    .header-box
    {
        top: 20%;
        left: 30%;
        width: 40%;
        padding: 2px;
        background-color: rgba(0,0,0,0.5);
    }
    
    .header-text
    {
        font-size: 1.6em;
    }
    
    th
    {
        padding: 5px;
    }
    
}


/* Smartphones */

@media all and (max-width: 768px),
all and (max-device-width: 480px) 
{
        
    .header-image 
    {
        display: none;
    }
    
    .header-box
    {
        position: inherit;
        width: 100%;
        padding: 2px;
    }
    
    .header-text
    {
        font-size: 1.4em;
    }
    
    .cacher
    {
        display: none;
    }
    
    th
    {
        padding: 2px;
    }
    
}